<ion-header>
    <ion-navbar>
        <ion-title>Quiz</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="content" no-bounce>

    <!--<ion-slides (ionSlideWillChange)="onSlideChangeStart($event)">
        <ion-slide *ngFor="let question of questions">
            <h2 class="slide-title" [innerHTML]="question.title"></h2>
            <p [innerHTML]="question.description"></p>
        </ion-slide>
    </ion-slides>-->
    <!-- Quiz Results -->
    <div>
        <progress-bar [progress]="loadProgress" [backgroundcolor]="backgroundColor" [score]="score" [maxscore]="maxScore"></progress-bar>
    </div>

    <!-- Quiz Container -->
    <ion-slides (ionSlideWillChange)="onSlideChangeStart($event)">
        <ion-slide class="card quizlib-question" *ngFor="let question of questions">
            <div class="quizlib-question-title">{{question.title}}</div>
            <div class="quizlib-question-answers">{{question.type}}
                <ion-list *ngIf="question.type=='textbox'">
                    <ion-item>
                        <ion-input type="text" value="" name="q1"></ion-input>
                    </ion-item>
                </ion-list>
                <ion-list radio-group *ngIf="question.type=='radio'">
                    <ion-item *ngFor="let option of question.options">
                        <ion-label>{{option.name}}</ion-label>
                        <ion-radio name="q2" value="{{option.value}}"></ion-radio>
                    </ion-item>
                </ion-list>
                <ng-container *ngIf="question.type=='checkbox'">
                    <ion-item *ngFor="let option of question.options">
                        <ion-label>{{option.name}}</ion-label>
                        <ion-checkbox name="q3" value="a"></ion-checkbox>
                    </ion-item>
                </ng-container>
            </div>
        </ion-slide>

    </ion-slides>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <!-- Answer Button -->
        <button ion-button round float-right (click)="showResults()">
                Submit
              </button>
        <!--  <button ion-button round float-left icon-start [hidden]="slides.isBeginning()" (click)="slidePrev()">
                <ion-icon name='arrow-back'></ion-icon>
                Back
              </button>

        <button ion-button round float-right icon-end [hidden]="slides.isEnd()" (click)="slideNext()">
                Next
                <ion-icon name='arrow-forward'></ion-icon>
              </button>-->
        <!--<ion-segment>
                <ion-segment-button [hidden]="slides.isBeginning()" value="prev" (click)="slidePrev()">
                    <ion-icon name="arrow-dropleft-circle"></ion-icon>
                </ion-segment-button>
                <ion-segment-button value="share">
                    Share
                </ion-segment-button>
                <ion-segment-button [hidden]="slides.isEnd()" value="next" (click)="slideNext()">
                    <ion-icon name="arrow-dropright-circle"></ion-icon>

                </ion-segment-button>
            </ion-segment>-->
    </ion-toolbar>
</ion-footer>