page-item-detail {
    .item-profile {
        width: 100%;
        background-position: center center;
        background-size: cover;
        height: 250px;
    }
    .content {
        background: #f5f0eb;
    }
    .slide-zoom {
        height: 100%;
    }
    .slide-title {
        margin-top: 2.8rem;
    }
    p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;
    }
}